.TeamInfo {
  @media (max-width: 1200px) {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  width: 70%;
  min-height: 90%;
  background-color: #607d8b75;
  border-radius: 10px;
  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap;
  .title {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
  }

  // Logo.js
  &__logo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    .subtitle {
      font-size: 1.2em;
      color: white;
    }

    .logo {
      height: 200px;
      width: 200px;
    }
  }

  &__panel {
    @media (min-width: 1600px) {
      justify-content: center;
    }
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .menuButton {
      @media (min-width: 1600px) {
        width: 28.5%;
      }
      text-align: center;
      width: 30%;
      font-size: 1.5em;
      color: white;
      font-weight: bold;
      margin: 0;
      box-shadow: 0px 2px 0px white;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .menuButton:focus {
      outline: none;
    }
    .menuButton__active {
      background-color: red;
      border: none;
      background-color: #24cadf40;
      border-radius: 5px;
      transition: all 0.5s;
      box-shadow: 0px 2px 0px #79fff9;
    }

    //Informations.js && Contact.js
    .informations {
      @media (min-width: 1600px) {
        width: 80%;
        margin-bottom: 2rem;
      }
      height: 400px;
      width: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      flex-wrap: wrap;
      background-color: #80808061;
      margin: 0 0.5rem 1rem;
      border-radius: 5px;
      border-bottom: 2px solid white;

      p {
        font-size: 1.1em;
        color: white;
      }

      .left {
        width: 50%;
        text-align: left;
        font-weight: bold;
      }
      .right {
        width: 50%;
        text-align: right;
      }
      .rightA {
        color: white;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
        font-size: 1.2em;
      }
    }

    // Footballers.js
    .team {
      @media (min-width: 1600px) {
        width: 80%;
        margin-bottom: 2rem;
      }
      height: 400px;
      overflow-y: auto;
      width: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      flex-wrap: wrap;
      background-color: #80808061;
      margin: 0 0.5rem 1rem;
      border-radius: 5px;
      border-bottom: 2px solid white;
      align-content: flex-start;

      .team__roleName {
        font-size: 1.1em;
        color: white;
        font-weight: bold;
        width: 60%;
      }

      .team__players {
        width: 100%;
        padding: 0.2rem 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .player {
          width: 33%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .player__avatar {
            border-radius: 50%;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1em;
            color: black;
            &:focus,
            &:hover,
            &:visited,
            &:link,
            &:active {
              text-decoration: none;
            }
          }
          .player__name {
            width: 100%;
            margin: 0.2rem 0;
            text-align: center;
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }
}
