html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-image: url(./assets/background.jpg);
  background-attachment: scroll;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}